# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Kotlin
.kotlin

# Sistema operacional
.DS_Store

# Arquivos de configuração com dados sensíveis
src/test/resources/config.properties